.house {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px solid black;
}

* {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

#roof:hover, #roof:hover ~ #roofadd, #door:hover, #window:hover, #attic:hover, #box:hover, #sun:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    stroke-width: 5px;
}

#roof:hover,#roof:hover~#roofadd {
    fill: red;
    stroke-linejoin: round;
    stroke-dasharray: 7,3,1,3;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

#door:hover {
    rx: 10px;
    ry: 10px;
    stroke: yellow;
}

#sun:hover {
    stroke-width: 17px;
    fill: #ff9500;
    stroke: red;
}

#window:hover {
    -webkit-transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    transform: skewX(15deg);
    stroke: green;
}

#box:hover {
    rx: 20px;
    ry: 20px;
    fill-opacity: 0.5;
    fill: #00f162;
}