#page {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
}

#login {
    /*margin-left: 8px;*/
    width: 150px;
}

#password {
    width: 150px;
}

.labels {
    float: left;
    margin-right: 10px;
}

label {
    display: block;
    margin: 5px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input {
    margin: 5px;
}

input[type="submit"] {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #0f9bce;
    padding: .7em 1.5em;
    outline: none;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background: rgb(232, 95, 76);
}

input[type="submit"]:active {
    background: rgba(152, 15, 0, 0.43);
    transform: scale(5) rotate3d(30, 0, 0, 50deg)skew(15deg) translate(70px);
}

input[type="reset"] {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

input[type='reset']:hover {
    background: rgb(53, 167, 110);
}

input[type='reset']:active {
    background: rgb(33, 147, 90);
    transform: scale(1.75);
    box-shadow:inset 0 3px rgb(33, 147, 90);
}